network=testnet

wallet_mnemonic=abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon art

blockfrost_api_key=your_blockfrost_project_id_here